body { 
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'PartialSans';
    flex-direction: column;
    height: 100vh;

}

@font-face {
    font-family: 'PartialSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

header  {
    display: flex;
    padding: 16px;
    /*background-color: yellow;
    color: black;*/
    justify-content: flex-end;
}

footer {
    display: flex;
    padding: 16px;
    /*background-color:  black;
    color: white;*/
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

