body { 
    display: flex;
    background-color: blue;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'PartialSans';

    align-items: center;
    flex-direction: column;

    height: 100vh;
    justify-content: center;

}

@font-face {
    font-family: 'PartialSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

.big-text {
    font-size: 64px;
    margin: 20px;
}

.mid-text {
    font-size: 32px;
    margin: 20px;
}

.small-text {
    font-size: 8px;
    margin: 20px;
}

.version{
  position:absolute; top:18px; right:18px;
  font-size:14px;
  opacity:0.9;
}

.copyright{
  position:absolute; left:18px; bottom:18px;
  font-size:14px; opacity:0.9;
}

